/* Basics */
@import "basics/normalize.css";
@import "basics/base.css";
@import "basics/layout.css";

/* Pages */
@import "views/toy-app.css";
@import "views/toy-details.css";
@import "views/toy-edit.css";
@import "views/about.css";

/* Components */
@import "cmps/toy-list.css";
@import "cmps/toy-preview.css";
@import "views/toy-details.css";
@import "cmps/toy-review.css";
@import "cmps/toy-filter.css";
@import "cmps/app-header.css";
@import "cmps/nice-button.css";

.counter,
.timer {
    margin-top: 20%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.counter button:nth-of-type(2) {
    font-size: 2em;
    display: block;
    border: none;
    background-color: inherit;
}

.fancy-box {
    background-color: gold;
    padding: 10px;
    text-align: center;
}

.split-pane>div {
    transition: 0.5s;
}