.app-header {
    background-color: var(--clr3);
    color: whitesmoke;
    font-size: 1.2em;
}

.app-header .container {
    display: flex;
    justify-content: space-between;
}

.app-header>section {
    display: flex;
    align-items: center;
}

.app-header h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.app-header .user {
    flex-grow: 1;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav {
    display: flex;
    gap: 15px;
}